# OS files
.DS_Store
Thumbs.db
db.json

# Environment variables files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
frontend/.env
*.env

# Dependency directories
node_modules/
jspm_packages/
frontend/node_modules/

# Build outputs
dist/
build/
bin/
out/
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/backend
loadgen/mailercloud-loadgen
loadgen/mailercloud-loadgen.exe

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Go specific
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, list or profile
*.out
